@charset "UTF-8";

footer {
	bottom: 0;
}

.footer-black {
		bottom: 0;
		margin-top: 100px;
    padding: 20px 0px;
    height: 250px;
    background-color: sliver;
    display: block;
    position: fixed;
    width: 100%;
}

.footer-division-1 {
	padding-bottom: 30px;
	border-bottom: 1px solid #333;
}

.footer-tel {
	color: black;
	font-size: 32px;
	margin-bottom: 10px;
	font-weight: bold;
}

.footer-text {
	color: black;
	font-size: 13px; 
	opacity: 0.56;
	font-weight: 500;
}

.footer-link-company {
	margin-top: 10px;
	color: black;
	font-weight: bold;
	font-size: 18px;

}

.footer-sep {
	font-size: 13px;
	text-decoration:underline;
	
}