@charset "UTF-8";
/* 카테고리 바*/
.btn-group button {
	background-color: white; /* Green background */
	border: 1px solid #EAEAEA; /* Green border */
	color: black; /* White text */
	padding: 20px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
}
.btn-group button:hover {
	background-color:#474747;
	color:#FBFBFB;
}