@charset "UTF-8";
/* 카테고리 바*/
.cbtn-group .cbtn {
	background-color: white; /* 배경색을 흰색으로 설정 */
	border: 1px solid #EAEAEA; /* 테두리 선을 연한 회색으로 설정 */
	color: black; /* 글자 색을 검정색으로 설정 */
	padding: 20px; /* 패딩 설정 */
	cursor: pointer; /* 커서 모양을 손가락으로 설정 */
	float: left; /* 버튼을 왼쪽으로 배치 */
}

/* 카테고리 버튼 호버 상태 */
.cbtn-group .cbtn:hover {
	background-color: #474747; /* 배경색을 어두운 회색으로 변경 */
	color: #FBFBFB; /* 글자 색을 밝은 회색으로 변경 */
}