/* Common styles */

/* Congratulations section */
.congratulations {
    text-align: center;
    padding: 20px;
    color: lightcoral;
    font-size: 1.8em;
    font-weight: bold;
}

/* User information section */
.user-information {
  margin: 20px auto;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  /* padding: 20px; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}


.user-information h3 {
  margin-bottom: 20px;
  margin-top: 0px;
}

.user-information p {
  margin: 5px 0;
}

/* Login and main screen button */
.button-container {
  text-align: center;
  margin-top: 20px;
}

.login-button, .mainpage-button{
  background-color: lightcoral;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

.login-button:hover, .main-screen-button:hover {
  background-color: #ff7f50; /* Slightly darker shade when hovering */
}