@charset "EUC-KR";

/* ���� �����̵�*/

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 30px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-bottom: 30px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* ��ǰ ����Ʈ */
h1 {
    text-align: center;
    margin: 0px;
    margin-top:70px;
    padding: 10px;
}

.button-container {
	width: 90%;
	margin : 0 auto;
	text-align : right;
	padding: 5px;
}
.more-button {
	cursor: pointer;
	text-align : right;
	background-color: white;
	color: black;
	text-decoration: none;
    border: none;
    font-size : 1.0em;
}

.plist-container {
	width: 90%; /* ȭ�� �ʺ� ���� ���� */
	text-align : center;
	margin : 0 auto; /*��� ����*/
	display: flex; /* �÷��� �����̳ʷ� ���� */
  	border : 3px solid black;
  	/* flex-wrap: wrap; ��ĥ ��� �ٹٲ� */
}

.plist {
  height: 50px;
  width: calc(19.8% - 40px); /* ȭ���� 5����ؼ� �� �׸��� �ʺ� ���� (���� ����) */
  margin: 10px;
  border : 3px solid lightblue;
}

.plist-container > div {
  height : 100%; 
  margin: 10px; /* �׸� ���� ���� ���� */
  padding: 10px; /* ���� ���� ���� */
  font-size: 15px; /* �۲� ũ�� ���� */
}
.pImg {
  max-width: 100%;
  max-height: 100%;
}
