@charset "UTF-8";

h1 {
    text-align: center;
}

.orderTable, .cartTable {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    border:1;
    
}

.orderTable th, .cartTable th {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.orderTable td, .cartTable td {
    padding: 10px; 
    text-align: center;
    border: 1px solid #ddd;
}

.td_1 {
    width: 15%;
}

.td_2 {
    width: 55%;
}

.td_3 {
    width: 15%;
}
.td_4{
   width: 15%;
}

.ctd_1 {
    width: 15%;
}

.ctd_2 {
    width: 40%;
}

.ctd_3 {
    width: 10%;
}
.ctd_4{
   width: 10%;
}
.ctd_5 {
    width: 10%;
}
.ctd_6{
   width: 15%;
}

td button {
		display: inline-grid;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    color: #fff;

    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: 40%;
    flex-wrap: nowrap;
    align-content: center;
}


td button:hover {
  background-color: #ff6b6b;
}