@charset "EUC-KR";

section {
    padding-top: 60px;
    width: 100%;
    height: calc(100vh - (460px));
    overflow-y: scroll;
    position: relative;
}

h1 {
    text-align: center;
    padding: 20px;
}

.button-container {
    text-align: right;
    margin-top: 20px;
    margin-right: 80px;
}


.button-container  input[type="submit"] {
    background-color: #333; 
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.search-container {
    text-align: right;
    margin-right: 80px;
}

.search-container  input[type="submit"] {
    background-color: #333; 
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.noticeTable {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

.noticeTable th {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.noticeTable td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.td_1 {
    width: 15%;
}

.td_2 {
    width: 55%;
}

.td_3 {
    width: 15%;
}
.td_4{
	width: 15%;
}


a.title {
    color: #333;
    text-decoration: none;
}

a.title:hover {
   color: #888;
}


.search-menu {
    text-align: right;
    margin-top: 20px;
}

.search-form {
    display: inline-block;
    padding: 5px;
}

