@charset "UTF-8";

h1 {
    text-align: center;
    padding: 20px;
}
.orderTable {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    
}

.orderTable th {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.orderTable td {
    padding: 10px; 
    text-align: center;
    border: 1px solid #ddd;
}

.td_1 /*주문번호*/{
    width: 10%;
}

.td_2 /*상품명*/{
    width: 15%;
}

.td_3 /*총합계주문날짜*/{
    width: 15%;
}
.td_4 /*주문날짜*/{
   width: 15%;
}

.td_5 /*상태*/{
   width: 15%;
}

.td_6 /*선택*/{
   width: 15%;
}

/*button, input[type="submit"]{
	color: white;
    background: lightcoral;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    display: inline-block;  추가: 버튼 가로 배열을 위해 inline-block으로 설정 
    margin: 0;  추가: 기본 마진 제거 
    margin-right: 5px;
    width:60px;
    text-align:center;
	height:30px;
	border-radius: 4px; 
}*/