@charset "UTF-8";
/* 풀절된 상품의 화면 내용 */
.sold-container {
	/* border : 10px solid red; */
	width:100%;
	height:450px;
	position: relative;
  text-align: center;
 /*  color: white; */
}
.sold-container img {
	width:75%;
	height:100%;
	filter: brightness(30%);
}

.comment {
  color : white;
  font-weight: bold; /* 굵게 설정 */
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 맨위 상품이미지, 주문선택 공간*/
.Detail-row {
	margin : 0 auto;
	display: flex;
	margin-top:5%;
	/* height : 650px; */
}

.Detail-row:after {
  content: "";
  display: table;
  clear: both;
  /* margin : 10px; */
}

/* 상품 이미지 */
.column1 {
	/* border : 5px solid red; */
	float: left;
	width: 500px;
  height: 500px;
	position: relative;
  margin:0 auto;
  /* margin : 2% 0 0 7%; */
  /* object-fit:cover; */
}

/* 상품 구매 선택 */
.column2 {
	/* border : 2px solid red; */
  float: right;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin:0 auto;
 /*  margin : 2% 7% 0 0; */
}

.column2 > h2 {
	width:100%;
	height:10%;
	/* border:5px solid red; */
	text-align : left;
	font-size : 45px;
	/* padding : 25px 0; */
}

.dprice {
	/* border : 5px solid black; */
	width : 100%;
	height : 20%;
	padding : 20% 0 0 0;
	font-size : 25px;
	font-weight: bold; /* 글씨를 진하게 만듦 */
}

.c2 { /* 상품명 체크박스 상품가격  */
	/* border : 5px solid black; */
	width : 100%;
	height : 20%;
  align-items: center; /* 수직 가운데 정렬 */
}

.count::-webkit-inner-spin-button,
.count::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
}
.count {
	width:30px;
  text-align: center; /* 텍스트를 가운데 정렬합니다. */
}
.c2-items {
	display: flex;
}

.material-symbols-outlined {
	cursor: pointer; /* 커서 모양을 손가락으로 설정 */
}

.totoal-price {
		/* border : 5px solid black; */
		width : 100%;
		height : 20%;
		padding : 30px 0 0 0; 
}

/* 버튼 */
.dbtn-group {
	/* border : 5px solid black; */
	width : 100%;
/* 	bottom : 0; */
}
.dbtn-group .dbtn {
  background-color: lightcoral; /* Green */
  width:50%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
  bottom : 0;
}

#addCart {
background-color : white;
color : lightcoral;
}

.Detail-container1 {
  /* background-color: #333; */
	margin : 7%;
  overflow: auto;
  white-space: nowrap;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  
}

.Detail-container1 img {
  /* padding: 10px; */
  margin: 0 auto;
  margin-top : 3%;
  margin-bottom : 3%;
  vertical-align: middle;
  align-items: center; 
}


/* Style the 주의사항 */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%; 
    
  }
}

/*상품목록 이미지 선택하면 보여주기*/
.mySlides img {
	/* width:100%;
	height:100%; */
	object-fit:cover;
}

.column img {
	vertical-align: middle;
	width : 100%;
 	height : 100px;
}

/* Hide the images by default */
.mySlides {/* 
  display: none; */
  width:100%;
  height:100%;
  object-fit:cover;
}

.mySlides img {
	width:100%;
	height:100%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
/* .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
} */

/* Position the "next button" to the right */
/* .next {
  right: 0;
  border-radius: 3px 0 0 3px;
} */

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
 */
/* Number text (1/3 etc) */
.numbertext {
  color: lightcoral;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
	margin-top:10px;
  float: left;
  width: 20%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}