@charset "UTF-8";

main{
  display: flex; /* 플렉스 컨테이너로 설정 */
  align-items: center;
}

.registerTitle {
	color: lightcoral; /* 글씨 색상을 파란색으로 지정 */
  font-weight: bold; /* 글씨를 진하게 만듦 */
  text-align : center; /* 글씨 위치 센터*/
}

/* 상품등록 컨테이너(제일 바깥) */
.register-container {
    width: 80%; /* 전체 너비를 100%로 설정 */
    max-width: 80%; /* 최대 너비 설정 (원하는 최대 크기로 조절) */
    margin: 0 auto; /* 가운데 정렬을 위한 margin 설정 */
    padding: 25px 15px; /* 양쪽 여백을 15px로 설정 */
    height : 100vh;
}

/* 내용 컨테이너 스타일링 */
.register-content {
    width: 70%; /* 전체 컨테이너 크기의 70%를 사용 */
    margin: 0 auto; /* 가운데 정렬을 위한 margin 설정 */
    padding: 5% 5%;
}

/* input 설정 */
.pname, .price, .stock, .cateno {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.r-label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.r-col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  text-align : center;
}

.r-col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* 열(column)들 이후에 float를 해제(clear)합니다 */
.registerRow::after {
  content: "";
  display: table;
  clear: both;
}

/* 반응형 레이아웃 - 화면 너비가 600px 미만일 때, 두 열을 나란히 배치하는 대신 서로 위에 쌓도록 설정 */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* 상품등록 버튼 */
.rbutton {
	background-color : #4CAF50;
	border : none;
  font-size: 18px;
  cursor: pointer;
  color: white;
  padding: 10px 17px;/*버튼이라는 글자의 상하좌우 여백설정*/
  float: right; /* 버튼을 오른쪽으로 배치 */
}