@charset "UTF-8";

h1 {
    text-align: center;
    padding: 20px;
}
.reviewTable {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    
}

.reviewTable th {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.reviewTable td {
    padding: 10px; 
    text-align: center;
    border: 1px solid #ddd;
}

.td_1 /*리뷰번호*/{
    width: 10%;
}

.td_2 /*사용자ID*/{
    width: 15%;
}

.td_3 /*상품명*/{
    width: 15%;
}
.td_4 /*리뷰내용*/{
   width: 45%;
}

.td_5 /*작성날짜*/{
   width: 15%;
}